In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data16 = pd.read_excel("anova2016.xlsx")

In [3]:
data16.head()

,State,StateID,Region,Unemployment_Rate(%),Pop_Below_Poverty(%),Inflation(%),Food_Insecurity(%),Child_FI(%)
0,Alabama,0,1,5.858333,16.2,1.3,13.4,18.6
1,Alaska,1,4,6.908333,12.6,1.3,16.5,22.5
2,Arizona,2,3,5.375000,16.1,1.3,17.2,23.2
3,Arkansas,3,1,3.950000,16.0,1.3,14.9,22.7
4,California,4,4,5.483333,13.9,1.3,11.7,19.0

In [5]:
data16.dtypes

State                    object
StateID                   int64
Region                    int64
Unemployment_Rate(%)    float64
Pop_Below_Poverty(%)    float64
Inflation(%)            float64
Food_Insecurity(%)      float64
Child_FI(%)             float64
dtype: object

In [6]:
reg = linear_model.LinearRegression()

In [ ]:
reg.fit(data16[['StateID','Unemployment_Rate(%)','Pop_Below_Poverty(%)','Inflation(%)']], data2016.'Food_Insecurity(%)' )